<h2>All positions</h2>

<% @positions.each do |position| %>
<div class="position-card">
<div><%= link_to position.title, position_path(position) %></div>
<div><p>list of skills</p></div>
<div><%= link_to Candidate.count, position_path(position) %> applicants</div>
</div>
<% end %>
<div class= "btn"><%= link_to '+New position', new_position_path%></div>

