
<h2><%= @position.title %></h2>
<p><%= @position.description %></p>


<div class="btn"><%= link_to 'Back to all positions', positions_path %></div>
<div class="btn"><%=  link_to 'Delete this position', position_path(@position), method: :delete, data: {confirm: "Are you sure?"} %></div>
<div class="btn">Link to all candidates</div>
