<h2>All current applicants</h2>
<div>
 <% @candidates.each do |candidate| %>
      <div class="applicants"><%= link_to candidate.first_name, candidate_path(candidate) %>
      - applied for the <%= candidate.position.title %> position</div>
    <% end %>
</div>
